body{
font-family: arial;
}
/* header starts here */


#logo1{
	height:170px;
	width:350px;
	top:25px;

}
#map{
    left:400px;
	height:110px;
	width:100px;
	top:20px;
	position:absolute;

}
#map1{
   
	height:160px;
	width:150px;
	top:24px;
	

}
#map01{
    position: absolute;
    left: 200px;
	height:960px;
	width:950px;
	top:692px;
	

}
#txtsearch{
	width:400px;
	height:30px;
	left:600px;
	top:87px;
	border-radius:15px;
	position:absolute;
}
#txtsearch:hover{
background-color:#00b386;
}
#txtsearch1{
	width:400px;
	height:30px;
	left:30px;
	top:1405px;
	border-radius:15px;


}
#searchbar1{
	width:80px;
	height:32px;
	left:430px;
	top:1405px;
	background-color:#a3c2c2;
	color:black;
	border-radius:10px;
	transition:background-color 1s ease 0s;
}

#searchbar{
	width:80px;
	height:32px;
	left:1000px;
	top:85px;
	position:absolute;
	background-color:#a3c2c2;
	color:black;
	border-radius:10px;
	transition:background-color 1s ease 0s;
}

#searchbar:hover{
background-color:#000000;
color:white;
}
#logo{
top:780px;
left:326px;
position:absolute;
}
#logo:hover{
width:55%;
height:75%;
transition:1s ease 0s;
}
#logo3{
top:280px;
left:325px;
position:absolute;
}
#logo3:hover{
width:55%;
height:75%;
transition:1s ease 0s;
}
#button1{
	color:#000000;
	left:100px;
	padding:10px;
	width:80px;
	height:35px;
	text-align:center;
	background-color:#a3c2c2;
	border-radius:30px;
	border-left:1px;
	border:1px solid #ffffff;
	
}
#button1:hover{
	background-color:#00b386;
	transition:background-color 1s ease 0s;
	border-radius:10px;
}
#button2{
	
	left:50px;
	color:black;
	padding:10px;
	width:100px;
	height:35px;
	text-align:center;
	background-color:#a3c2c2;
	border-radius:30px;
	border:1px solid #ffffff;
	
}
#button2:hover{
	background-color:#adebeb;
	transition:background-color 1s ease 0s;
	border-radius:10px;
}
#button3{
	
	left:50px;
	color:black;
	padding:10px;
	width:100px;
	height:35px;
	text-align:left				;
	background-color:#a3c2c2;
	border-radius:30px;
	border:1px solid #ffffff;
	
}
#button3:hover{
	background-color:#adebeb;
	transition:background-color 1s ease 0s;
	border-radius:10px;
}
#mr{

	color:white;
	position:absolute;
	left:1050px;
	top:1320px;
    
    
    
}
#ben{

	
    height: 100px;
    background-image:url(Puerto.jpg); /* For browsers that do not support gradients */
    background: linear-gradient(#66e0ff, #66e0ff); /* Standard syntax (must be last) */

}
#ben1{
	
    height: 10px;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(#009999,#001a1a ); /* Standard syntax (must be last) */
}
#ben2{
	
    height: 10px;
    background: #ff3333; 
    
}
#sol{
	top:1210px;
    height:190px;
    background: #001a1a; /* For browsers that do not support gradients */
    background: linear-gradient(#333); /* Standard syntax (must be last) */
}
#sol2{
	
    background: linear-gradient(#009999,#001a1a); /* Standard syntax (must be last) */
}
#footer2{
	
	text-decoration:none;
	border-left:1px solid #ffffff;
	padding:10px;
	color:white;

}
#footer2:hover{
	color:orange;

}
#view2{
	left:600px;
	width:60px;
	height:25px;
	position:absolute;
	background-color:#a3c2c2;
	color:black;
	border-radius:5px;
	transition:background-color 1s ease 0s;
}

#view2:hover{
background-color:#4CAF50;
color:black;
}
#view1{
	left:700px;
	width:60px;
	height:25px;
	position:absolute;
	background-color:#a3c2c2;
	color:black;
	border-radius:5px;
	transition:background-color 1s ease 0s;
}

#view1:hover{
background-color:#4CAF50;
color:black;
}






